section header 
{
  border-top: solid 1px var(--stroke-color);
  padding-block: 12px 24px;
  font: var(--text-span);

  a
  {
    justify-self: end;
    align-items: center;
    gap: 8px;

    figure
    {
      background-image: url(../assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
    }

    &:hover figure
    {
      background-image: url(../assets/icons/ArrowRight-hover.svg);
    }
  }
}

#featured 
{
  img 
  {
    height: 100%;
    object-fit: cover;

    border-radius: 4px;
  }

  .card
  {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    
    &::before
    {
      content: "";

      position: absolute;
      inset: 0;
      
      top: 50%;
      background: linear-gradient(0deg, black 0%, transparent 100%);
    }

    figcaption 
    {
      position: absolute;
      bottom: 0;

      padding: 24px;

      &:has(.text-lg)
      {
        padding: 12px;
      }

      h2 
      {
        margin-top: 8px;
      }
    }
  }
}

#weekly 
{
  img 
  {
    width: 100%;
    object-fit: cover;
  }

  figure 
  {
    position: relative;

    .content-tag 
    {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p 
    {
      margin-top: 8px;
    }
  }
}