/* UTILITY-FIRST */

/* ------------- */
/* grid utilitys */
/* ------------- */
.grid 
{
  display: grid;
}

.grid-flow-col 
{
  grid-auto-flow: column;
}

.grid-cols-2 
{
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-4
{
  grid-template-columns: repeat(4, 1fr);
}

.grid-cols-2x1 
{
  grid-template-columns: 2fr 1.4fr;
}

.gap-8 
{
  gap: 8px;
}

.gap-16 
{
  gap: 16px;
}

.gap-32 
{
  gap: 32px;
}

/* ------------- */
/* text utilitys */
/* ------------- */

.text-2xl 
{
  font: var(--h1);
}

.text-xl 
{
  font: var(--h2);
}

.text-lg 
{
  font: var(--h3);
}

.text-sm
{
  font: var(--text-sm);
}

/* -------------- */
/* color utilitys */
/* -------------- */

.color-secondary 
{
  color: var(--text-color-secondary);
}